## 데이터 탐색하기와 전처리
### 데이터 준비
```
$ mkdir -p ~/aiffel/recommendata_iu/data/lastfm-dataset-360K
$ ln -s ~/data/lastfm-dataset-360K/* ~/aiffel/recommendata_iu/data/lastfm-dataset-360K
```

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 컬럼명 임의 지정
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 설정하여 tsv 열기
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
data['artist'] = data['artist'].str.lower()
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

<br>

### 데이터 탐색

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [11]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

<br>

### 모델 검증을 위한 사용자 초기 정보 세팅

In [12]:
my_favorite = ['red hot chili peppers' , 'queen' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'hayan'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정
my_playlist = pd.DataFrame({'user_id': ['hayan']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['hayan']})['user_id'].any():
    data = pd.concat([data, my_playlist])         

data.tail(10)

               user_id                 artist  play
17535650  sep 20, 2008             turbostaat    12
17535651  sep 20, 2008          cuba missouri    11
17535652  sep 20, 2008        little man tate    11
17535653  sep 20, 2008              sigur rós    10
17535654  sep 20, 2008             the smiths    10
0                hayan  red hot chili peppers    30
1                hayan                  queen    30
2                hayan             jason mraz    30
3                hayan               coldplay    30
4                hayan                beyoncé    30

<br>

### 모델에 활용하기 위한 전처리

In [13]:
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [14]:
print(user_to_idx['hayan'])
print(artist_to_idx['red hot chili peppers'])

358868
5

In [15]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868       5    30
1    358868      75    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

<br>
<br>

## 사용자의 명시적/암묵적 평가

In [16]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']==1]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147739,17535660
Ratio of only_one over all data is 0.84%

<br>

## CSR(Compressed Sparse Row) Matrix

In [17]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

<br>
<br>

## MF 모델 학습하기

In [18]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# 기본 설정
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [19]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [20]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [21]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

<br>

- 벡터 내적

In [23]:
hayan, red_hot_chili_peppers = user_to_idx['hayan'], artist_to_idx['red hot chili peppers']
hayan_vector, red_hot_chili_peppers_vector = als_model.user_factors[hayan], als_model.item_factors[red_hot_chili_peppers]

print('슝=3')

슝=3

In [24]:
hayan_vector

array([-0.3446426 ,  0.631517  ,  0.04537208, -0.32399946, -0.40846577,
       -1.4191642 ,  0.40765086, -1.0563139 , -0.38309503,  0.93463594,
        0.600762  , -1.9111023 , -0.69854087,  1.3823664 , -1.7582304 ,
        1.3742919 , -0.9732144 ,  0.71758604,  0.7818353 ,  0.7201753 ,
        0.8226679 ,  0.03784252,  0.6580866 ,  0.27553055,  1.0365294 ,
        0.09536389, -1.0051109 ,  0.54776734,  2.4874907 , -0.57997227,
        0.6516797 , -0.3055407 ,  0.61880714, -1.2897712 ,  0.5379905 ,
        0.97770965,  0.14184159,  1.0364611 , -0.6433161 ,  0.8351658 ,
       -0.16901115, -0.10749193, -0.40469098,  0.9332945 , -0.07236005,
        0.82470834, -0.24521126,  0.50670874, -0.46500257, -0.4730048 ,
       -0.19542742, -0.66489387, -1.3655375 , -0.38043228,  0.74087644,
       -0.71709126,  0.69765264, -0.40710887, -0.01712727, -0.26118   ,
        0.03357825,  0.2332669 , -0.12303056, -0.727709  ,  1.1097741 ,
       -0.049794  ,  0.2858661 , -1.1821042 , -0.36574128, -0.307922  ,
       -2.0959413 ,  0.177786  , -0.23388325, -0.5294342 ,  0.13472496,
        0.09278198, -0.6434246 ,  1.3140041 ,  0.17082009, -0.24297868,
        0.6820508 ,  2.1274686 ,  0.1577413 , -1.2858808 ,  0.15250406,
        0.04181419,  0.8767187 , -0.5092916 ,  1.4600376 ,  0.10107578,
        1.0379748 ,  0.6357637 ,  1.7559702 ,  0.09195531, -0.11223961,
       -1.0467792 , -0.46227628, -0.6387155 ,  0.16916154, -0.37054098],
      dtype=float32)

In [25]:
red_hot_chili_peppers_vector

array([ 0.01367241,  0.00798595,  0.00267543,  0.0090862 , -0.00056048,
        0.00342789,  0.0081796 ,  0.01129883,  0.00652083,  0.01902819,
        0.01274246, -0.00153758, -0.00337783,  0.0251616 , -0.00065416,
        0.01730047, -0.00974755,  0.02013951,  0.00118109,  0.02859314,
        0.01445737,  0.01685728,  0.01284795, -0.00276557,  0.0047884 ,
        0.01453507,  0.0020323 ,  0.01777701,  0.02864485, -0.00363028,
        0.02533549,  0.00573481,  0.01993992, -0.00856777,  0.01503682,
        0.00366117,  0.00665968,  0.01945225,  0.004186  ,  0.00810151,
        0.0036152 , -0.00164127, -0.00388377,  0.01534409, -0.00257688,
        0.00493058,  0.00564356,  0.0054625 ,  0.00563843, -0.01073185,
        0.00860807,  0.0111155 , -0.00919349,  0.00747072,  0.01704611,
        0.00442147,  0.01312453, -0.00113897,  0.01518479,  0.01203096,
        0.00780715,  0.02165368,  0.01150286,  0.00093947,  0.01674495,
       -0.00055907,  0.00556044, -0.0026224 , -0.00353748,  0.00583477,
       -0.00613565, -0.00849233,  0.00484283,  0.00152953,  0.00450138,
       -0.00638652,  0.00954841,  0.02161041,  0.00467848,  0.00558536,
        0.00678945,  0.03255587,  0.00817903, -0.02021546,  0.0083989 ,
       -0.00187503,  0.00961119,  0.01018817,  0.0124034 , -0.00850993,
        0.00231384,  0.00937752,  0.01619509,  0.01286115,  0.02243662,
       -0.00211219,  0.00081782,  0.00754486,  0.00833034,  0.00251956],
      dtype=float32)

In [26]:
# hayan과 red_hot_chili_peppers를 내적하는 코드
np.dot(hayan_vector, red_hot_chili_peppers_vector)

0.553113

- 새로운 아티스트를 넣어 예측

In [27]:
black_eyed_peas = artist_to_idx['black eyed peas']
black_eyed_peas_vector = als_model.item_factors[black_eyed_peas]
np.dot(hayan_vector, black_eyed_peas_vector)

0.3391677

In [28]:
# 별도 추가
radiohead = artist_to_idx['radiohead']
radiohead_vector = als_model.item_factors[radiohead]
np.dot(hayan_vector, radiohead_vector)

0.54023916

<br>
<br>

## 비슷한 아티스트 찾기 + 유저에게 추천하기

### 비슷한 아티스트 찾기

In [29]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 0.99999994),
 (277, 0.98886347),
 (5, 0.9818205),
 (28, 0.98074734),
 (217, 0.9770085),
 (473, 0.9769977),
 (490, 0.97458404),
 (418, 0.9645561),
 (247, 0.963377),
 (1018, 0.9604053),
 (910, 0.95723975),
 (694, 0.95388377),
 (268, 0.9522768),
 (782, 0.9507226),
 (55, 0.9452801)]

In [30]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'red hot chili peppers',
 'the killers',
 'radiohead',
 'placebo',
 'oasis',
 'u2',
 'the beatles',
 'the smashing pumpkins',
 'nirvana',
 'foo fighters',
 'pink floyd',
 'the white stripes',
 'arctic monkeys']

In [31]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

In [32]:
get_similar_artist('2pac')

['2pac',
 'notorious b.i.g.',
 'nas',
 'dr. dre',
 'jay-z',
 'the game',
 'snoop dogg',
 '50 cent',
 'ludacris',
 'gang starr']

In [33]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'the pussycat dolls',
 'beyoncé',
 'christina aguilera',
 'kelly clarkson',
 'leona lewis',
 'mariah carey']

<br>

### 유저에게 아티스트 추천하기

In [35]:
user = user_to_idx['hayan']
# recommend의 경우 user*item CSR Matrix를 입력으로 받음
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(247, 0.58269703),
 (277, 0.5475066),
 (217, 0.54023916),
 (418, 0.5330329),
 (28, 0.5260129),
 (268, 0.515108),
 (910, 0.5116246),
 (490, 0.50340635),
 (473, 0.49366876),
 (694, 0.47538182),
 (409, 0.4741678),
 (55, 0.46862996),
 (776, 0.45929122),
 (279, 0.4554896),
 (531, 0.45305377),
 (782, 0.45231828),
 (274, 0.44667473),
 (1018, 0.44390377),
 (355, 0.4434453),
 (24, 0.4422297)]

In [42]:
[idx_to_artist[i[0]] for i in artist_recommended]

['the beatles',
 'muse',
 'radiohead',
 'u2',
 'the killers',
 'pink floyd',
 'nirvana',
 'oasis',
 'placebo',
 'foo fighters',
 'amy winehouse',
 'arctic monkeys',
 'the cure',
 'led zeppelin',
 'depeche mode',
 'the white stripes',
 'michael jackson',
 'the smashing pumpkins',
 'madonna',
 'jack johnson']

In [43]:
muse = artist_to_idx['muse']
explain = als_model.explain(user, csr_data, itemid=muse)

In [44]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('coldplay', 0.1853423532850301),
 ('red hot chili peppers', 0.17678748458196106),
 ('queen', 0.14997442462107782),
 ('jason mraz', 0.027326028663822388),
 ('beyoncé', 0.013880976364558607)]